/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* RESET END */

/* STYES */

  /* HEADER */

  header {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    width: 100vw;
    background-color: black;
    justify-content: space-between;
  }

  header p {
    margin-left: 15px;
    min-width: 110px;
    width: 110px;
    color: white;
    text-align: center;
  }

  nav {
    align-self: center;
    margin-right: 5%;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 8px;
  }

  .header-list li {
    color: white;
  }

  .header-list li:hover {
    cursor: pointer;
  }

  /* BODY */
    body {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-image: url('../img/portfolio-picture.jpg');
      background-size: cover;
      background-position: center;
      min-height: 100vh;
    }

    .hero-content {
      padding: 15px;
      line-height: 2;
    }

    .hero-content h1, .hero-content p {
      color: white;
    }

    .hero-content button {
      color: black;
      width: 120px;
      height: 40px;
      border-radius: 10px;
    }

    .hero-content button:hover {
      cursor: pointer;
    }

    .about-me {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .about-content h2, p {
      color: black;
    }

    .about-content, p {
      padding: 8px;
    }

    .language, .ai {
      list-style-type: none;
      padding: 0;
      text-align: start;
      margin-left: 20px;
    }

    .language li::before, .ai li::before {
      content: '-';
    }

    figcaption {
      text-align: start;
    }

    .hobbies-title {
      font-weight: bold;
    }

    .hobbies {
      list-style-type: none;
      padding: 0;
      text-align: start;
      margin-left: 20px;
    }

    .hobbies li::before {
      content: '-';
    }

    .hobbies li:last-child {
      margin-bottom: 12px;
    }

    .projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background: url('../img/project-picture.jpg');
      background-size: cover;
      background-position: center;
      min-height: 50vh;
    }

    .projects h2 {
      color: white;
    }

    .projects-content {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: start;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      gap: 20px;
    }

    .project-cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .project-card, .project-card-two, .project-card-three {
      width: 90%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .project-cards img:hover {
      cursor: pointer;
    }

    .nr-project, .meal-plan {
      width: 100%;
      height: auto;
      min-width: unset;
      min-height: unset;
    }

    .project-title {
      line-height: 3;
    }

    .keyboard {
      width: 100%;
      height: auto;
      min-width: unset;
      min-height: unset;
    }

    .keyboard-title {
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .side-container {
      max-width: 500px;
      width: 0;
      max-height: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #111111;
      transition: width .5s ease;
      overflow: hidden;
      align-self: end;
      justify-self: center;
      z-index: 10;
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      gap: 50vh;
    }

    .side-container.active {
      width: 300px;
    }

    .exit-icon {
      grid-row: 1/2;
      grid-column: 1/2;
      justify-self: start;
      align-self: start;
      width: 25px;
      height: 25px;
      margin-left: 12px;
      margin-top: 12px;
    }

    .exit-icon:hover {
      cursor: pointer;
    }

    .side-title {
      grid-row: 1/2;
      grid-column: 1/2;
      justify-self: center;
      color: white;
      font-size: 1.3rem;
      margin-top: 50px;
      opacity: 0;
      transition: opacity 1s ease;
    }
    
    .side-title.active {
      opacity: 1;
    }

    .side-title-caption {
      grid-row: 1/2;
      grid-column: 1/2;
      justify-self: center;
      color: white;
      margin-top: 80px;
      opacity: 0;
      transition: opacity 1s ease;
    }

    .side-title-caption.active {
      opacity: 1;
    }

    .description {
      grid-row: 1/2;
      grid-column: 1/2;
      align-self: center;
      justify-self: center;
      font-size: 1rem;
      color: white;
      opacity: 0;
      transition: opacity 1s ease;
    }

    .description.active {
      opacity: 1;
    }

    .side-btn {
      grid-row: 1/2;
      grid-column: 1/2;
      align-self: end;
      justify-self: start;
      width: 90px;
      height: 50px;
      margin-bottom: 40px;
      border-radius: 10px;
      opacity: 0;
      transition: opacity 1s ease;
      color: black;
      margin-left: 10%;
    }

    .side-btn.active {
      opacity: 1;
    }

    .git-btn {
      grid-row: 1/2;
      grid-column: 1/2;
      align-self: end;
      justify-self: end;
      width: 90px;
      height: 50px;
      margin-bottom: 40px;
      border-radius: 10px;
      opacity: 0;
      transition: opacity 1s ease;
      color: black;
      margin-right: 10%;
    }

    .git-btn.active {
      opacity: 1;
    }

    button:hover {
      cursor: pointer;
    }

  /* FOOTER */

  .footer-container {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }

  .footer-title {
    color: white;
    margin-top: 10px;
  }

  .footer-text {
    color: white;
  }

  /* MEDIA QUERIES */

  @media (min-width: 428px) {

    .hobbies, .language, .ai, figcaption {
      text-align: center;
    }

    .keyboard-title {
      margin-top: 10px;
    }
  }

  @media (min-width: 462px) {
    nav {
      margin: auto;
    }

    header p {
      color: white;
      margin: auto;
    }
  }

  @media (min-width: 600px) {
    header p {
      font-size: 1.2rem;
      width: auto;
    }

    nav li {
      font-size: 1.2rem;
      width: auto;
    }

    .hero-content p {
      font-size: 1.1rem;
    }

    .side-container {
      gap: 70vh;
    }
  }

  @media (min-width: 800px) {
    header p {
      margin-left: 5%;
    }

    nav {
      margin-right: 5%; 
    }

    header {
      justify-content: space-between;
    }

    .projects-content p {
      font-size: 1.1rem;
    }
  }

  @media (min-width: 900px) {
    .hero-content p {
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1280px) {
    header p {
      font-size: 1.5rem;
    }

    nav li {
      font-size: 1.5rem;
    }

    .hero-content p {
      font-size: 1.3rem;
    }

    .projects-hero h2 {
      font-size: 1.8rem;
    }

    .projects-content p {
      font-size: 1.2rem;
    }

    .side-container {
      gap: 80vh;
    }
  }

  @media (min-width: 1920px) {
    header p {
      font-size: 1.7rem;
    }

    nav li {
      font-size: 1.7rem;
    }

    .hero-content p {
      font-size: 1.5rem;
    }

    .hero-content h1 {
      font-size: 2rem;
    }

    .about-content h2 {
      font-size: 1.6rem;
    }

    .about-content p {
      text-align: center;
      font-size: 1.2rem
    }

    .about-content .hobbies-title {
      font-size: 1.3rem;
    }

    .about-content .hobbies {
      font-size: 1.2rem;
    }

    .side-container.active {
      width: 500px;
    }
  }